    {% load static %}
    <!-- FOOTER -->
    <footer class="zmovo-footer-area pt-50">
        <div class="zmovo-footer">
            <div class="container">
                <div class="zmovo-footer-top">
                    <div class="row">
                        <div class="col-sm-3 col-lg-3">
                            <div class="zmoto-instagram-post gradient1">
                                <img src="{% static 'image/instagram/1.jpg' %}" alt="">
                                <a href="#" class="zmoto-instagram-icon"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="zmoto-instagram-post gradient1">
                                <img src="{% static 'image/instagram/2.jpg' %}" alt="">
                                <a href="#" class="zmoto-instagram-icon"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="zmoto-instagram-post gradient1">
                                <img src="{% static 'image/instagram/3.jpg' %}" alt="">
                                <a href="#" class="zmoto-instagram-icon"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="zmoto-instagram-post gradient1">
                                <img src="{% static 'image/instagram/4.jpg' %}" alt="">
                                <a href="#" class="zmoto-instagram-icon"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zmovo-footer-center pt-50">
                    <div class="zmovo-ft-widgets">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="zmovo-ft-widget">
                                    <div class="zmovo-ft-widget-titles">
                                        <h2 class="zmovo-ft-widget-title">Movies Category</h2>
                                    </div>
                                    <div class="zmoto-ft-widget-contetn">
                                        <ul>
                                            <li><a href="#">Movies</a></li>
                                            <li><a href="#">Videos</a></li>
                                            <li><a href="#">English Movies</a></li>
                                            <li><a href="#">China Movies</a></li>
                                            <li><a href="#">Tailor</a></li>
                                            <li><a href="#">Upcoming Movies</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="zmovo-ft-widget">
                                    <div class="zmovo-ft-widget-titles no-text">
                                        <h2 class="zmovo-ft-widget-title">information</h2>
                                    </div>
                                    <div class="zmoto-ft-widget-contetn">
                                        <ul>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Song</a></li>
                                            <li><a href="#">Forums</a></li>
                                            <li><a href="#">Place</a></li>
                                            <li><a href="#">Hot Collection</a></li>
                                            <li><a href="#">Upcoming Events</a></li>
                                            <li><a href="#">All Movies</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="zmovo-ft-widget">
                                    <div class="zmovo-ft-widget-titles no-text">
                                        <h2 class="zmovo-ft-widget-title">Locations</h2>
                                    </div>
                                    <div class="zmoto-ft-widget-contetn">
                                        <ul>
                                            <li><a href="#">South Korea</a></li>
                                            <li><a href="#">Germany</a></li>
                                            <li><a href="#">United States</a></li>
                                            <li><a href="#">France</a></li>
                                            <li><a href="#">India</a></li>
                                            <li><a href="#">New Movies</a></li>
                                            <li><a href="#">United Kingdom</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="zmovo-ft-widget">
                                    <div class="zmovo-ft-widget-titles">
                                        <h2 class="zmovo-ft-widget-title">Newsletter</h2>
                                    </div>
                                    <div class="zmoto-ft-widget-contetn">
                                        <div class="zmovo-ft-newsletter">
                                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anytg embarrassing hidden.</p>
                                            <div class="zmovo-ft-newsletter-area pt-30">
                                                <div class="zmovo-ft-newsletter">
                                                    <input type="text" class="form-control" placeholder="Enter Address">
                                                    <button type="submit"><span class="fa fa-paper-plane"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="zmovo-ft-social-widget pt-50">
                                            <ul>
                                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                                <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zmovo-footer-buttom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-lg-6">
                        <div class="zmovo-ft-menu">
                            <ul>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Our Ads</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6">
                        <div class="zmovo-ft-copyright">
                            <p>CopyRight 2019 Develop by <a href="#" class="c1">Themepul</a> . All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <div class="to-top" id="back-top">
        <i class="fa fa-angle-up"></i>
    </div>
</div>